# Ignore Databricks notebook checkpoints
.dbc/
.ipynb_checkpoints/

# Ignore notebooks
dbdemos/dbdemos Install.py

# Ignore local Databricks configs
.databricks/
*.dbc

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore environment variable files
*.env

# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/

# Ignore build and distribution folders
build/
dist/
*.egg-info/

# Ignore Databricks job run outputs
databricks_jobs_output/